<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="style.css">
    <title>CONSULTA MASCOTA</title>
    
    
</head>
<body>
    <header>
        <nav class ="navegacion"> 
          <ul class="menu">
            <li><a href="http://127.0.0.1:5500/Front/Inicio.html">Inicio</a></li>
            <li><a href="#">Registros</a>
                <ul class="submenu">
                  <li><a href="http://127.0.0.1:5500/Front/RegistroMascota.html">Registro Mascota</a></li>
                  <li><a href="http://127.0.0.1:5500/Front/RegistroPropietario.html">Registro Propietario</a></li>
                  <li><a href="http://127.0.0.1:5500/Front/RegistroVeterinario.html">Registro Veterinario</a></li>
                </ul>
            </li>
            <li><a href="#">Servicios</a>
                <ul class="submenu">
                <li><a href="#">Asignacion de Veterinario</a></li>
                <li><a href="#">Promocion y Prevencion</a></li>
                </ul>
            </li>
            <li><a href="#">Contactos</a></li> 
            <li><a href="#">Consultas</a>
                <ul class="submenu">
                  <li><a href="http://127.0.0.1:5500/Front/Consultas.html">Consulta Mascota</a></li>
                  <li><a href="#">Actualizacion de Datos</a></li>
                </ul>
            </li>
          </ul>
        </nav>
      </header>  
    <section class="general">

        <section class="register">
            <h3>Ingresar Informacion</h3>
            <select name="select">
                <option value="value1">Todos</option>
                <option value="value2" selected>Perro</option>
                <option value="value3">Gato</option>
                <option value="value3">Conejo</option>
                <option value="value3">Tortuga</option>
              </select>
              <div class="botones">
                <input class="controls" type="text" name="Nombre" id="nombre" placeholder="Nombre de mascota">
                <input class="controls" type="text" name="Nombre" id="nombre" placeholder="Nombre de Veterinario">
                <input class="controls" type="text" name="Nombre" id="nombre" placeholder="Nombre de Propietario">
            </div>
                <nav class ="boton"> 
                    <ul class="botons">
                      <li><a href="http://127.0.0.1:5500/Front/tablas.html">Consultar</a></li>
                    </ul>
                  </nav>
              
 
        </section>
        
        <section class="form-register">
        <h4>Consulta de Mascota</h4>
         </section>
  
    </section>
    
          
</body>

</html>