@page
@model MascotaFeliz.App.Frontend.Pages.ConsultarMascotaModel
@{
}

<section class='general'>
  <div class='contenedor-titulo'>
    <h4>Consultar Mascota</h4>
  </div>
  <div class='formulario' id='register-mascota'>
    <input type='hidden' name='id' id='id' >
    <input type='text' name='identificacion' id='identificacion' class='form-mascota' placeholder='Ingrese Identificacion'>
    <input type='submit' value='Consultar'>
    <input type='text' name='nombre' id='nombre' class='form-mascota' placeholder=' Nombre'disabled>
    <input type='text' name='color' id='color' class='form-mascota' placeholder=' Color'disabled>
    <input type='text' name='especie' id='especie' class='form-mascota' placeholder=' Especie'disabled>
    <input type='text' name='raza' id='raza' class='form-mascota' placeholder='Raza'disabled>
    <input type='text' name='dueno' id='dueno' class='form-mascota' placeholder='Dueno'disabled>
    <input type='text' name='veterinario' id='veterinario' class='form-mascota' placeholder='Veterinario'disabled>
    <input type='text' name='historia' id='historia' class='form-mascota' placeholder='Historia clinica'disabled>
       
  </div>
</section>