@page
@model MascotaFeliz.App.Frontend.Pages.EliminarVeterinarioModel
@{
}
<section class='general'>
  <div class='contenedor-titulo'>
    <h4>Eliminar Veterinario</h4>
  </div>
  <div class='formulario' id='register-veterinario'>
     <input type='hidden' name='id' id='id'>
        <input type='text' name='identificacion' id='identificacion' class='form-veterinario' placeholder='Ingrese Identificacion'>
        <input type='submit' value='Consultar'>
        <input type='text' name='nombres' id='nombres' class='form-veterinario' placeholder='Ingrese Nombres'>
        <input type='text' name='apellidos' id='apellidos' class='form-veterinario' placeholder='Ingrese Apellidos'>
        <input type='text' name='direccion' id='direccion' class='form-veterinario' placeholder='Ingrese Direccion'>
        <input type='tel' name='telefono' id='telefono' class='form-veterinario' placeholder='Ingrese Telefono'>
        <input type='number' name='tarjeta_profesional' id='tarjeta_profesional' class='form-veterinario' placeholder='Ingrese Tarjeta Profesional'>
        <input type='submit' value='Eliminar'>

  </div>
</section>